@page "/"

<div class="main-content">
    <div class="onboard">
            <h1 class="onboard-content">새로운 경험, 새로운 세상, 새로운 이야기</h1>
            <p class="onboard-content">게임, XR, 컴퓨터 그래픽스로 도전하고 있습니다.</p>
        <button class="onboard-button onboard-content">더 알아보기</button>
    </div>
</div>