<div class="top-menu">
    <a href=""> <img src="resources/logo.png" class="logo" /> </a>
    <a href="about" class="top-menu-item">ABOUT</a>
    <a href="portfolio" class="top-menu-item">PORTFOLIO</a>
    <a href="artwork" class="top-menu-item">ARTWORK</a>
</div>
@code {

}
